.max-w{
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
.color{
  min-height: 250px;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
  p{
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 15px;
    padding-bottom: 15px;
    font-family: 'montserrat', 'arial';
    font-size: 20px;
  }
}
.btn.btn-link.navbar-btn{
  &:hover{
    color: #969696;
  }
}
#copied-alert{
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
  .copy-text{
    background-color: rgba(255,255,255,0.5);
      h1{
        font-size: 80px;
        color: white;
        text-shadow: 3px 3px 0px rgba(0,0,0,0.5);;
      }
    }
}

#hex2rgb{
  font-size: 20px;
}
.switcher{
  margin-top: 80px;
}

// ************************ //
// ************************ //
// ************************ //
//         colors
// ************************ //
// ************************ //
// ************************ //
.white{
  background-color: white;
}
.whitesmoke{
  background-color: #f5f5f5;
}
.smoke{
  background-color: #eeeeee;
}
.cascade{
  background-color: #ebebeb;
}
.gray-cloud{
  background-color: #e6e6e6;
}
.white-stone{
  background-color: #e5e5e5;
}
.gull-wing{
  background-color: #e0e0e0;
}
.pewter{
  background-color: #cccccc;
}
.cliffs{
  background-color: #c4c4c4;
}
.steel-wool{
  background-color: #999999;
}
.whale{
  background-color: #969696;
}
.overcoat{
  background-color: #8c8c8c;
}
.stormy-sky{
  background-color: #555555;
  color: white;
}
.shadow{
  background-color: #191919;
  color: white;
}
.dark-shadow{
  background-color: #181818;
  color: white;
}
.black{
  background-color: #000000;
  color: white;
}
.red-violet{
  background-color: #d313a8;
  color: white;
}
.berry{
  background-color: #BC1196;
  color: white;
}
.wine{
  background-color: #6c0933;
  color: white;
}
.allure{
  background-color: #a9e8ff;
}
.breeze{
  background-color: #69d7ff;
}
.sea{
  background-color: #3bbeee;
}
.sky{
  background-color: #35a6d0;
  color: white;
}
.brilliant{
  background-color: #33a2ca;
  color: white;
}
.royal{
  background-color: #1788b1;
  color: white;
}
.mellow{
  background-color: #fbe8f6;
}
.elephant{
  background-color: #fcdede;
}
.easter{
  background-color: #eb8ad2;
}
.hot-pink{
  background-color: #f11fe1;
  color: white;
}
.crushed{
  background-color: #d714a4;
  color: white;
}
.raspberry{
  background-color: #cf1aa7;
  color: white;
}
.flush{
  background-color: #cc139c;
  color: white;
}
.purple{
  background-color: #6c0a52;
  color: white;
}
.blush{
  background-color: #ff2f65;
  color: white;
}
.rose{
  background-color: #f22d60;
  color: white;
}
.pale-rose{
  background-color: #d92d58;
  color: white;
}
.bright-red{
  background-color: #ee0000;
  color: white;
}
.red{
  background-color: #d70206;
  color: white;
}
.dark-red{
  background-color: #cd201f;
  color: white;
}
.canvas{
  background-color: #fcf6dc;
}
.sandstone{
  background-color: #fffbac;
}
.khaki{
  background-color: #eeebac;
}
.wet-sand{
  background-color: #e9d991;
}
.beach{
  background-color: #e9d991;
}
.shopping-bag{
  background-color: #baae74;
}
.yellow{
  background-color: #ffec01;
}
.mustard{
  background-color: #f2e001;
}
.hot-mustard{
  background-color: #e6d401;
}
.algae{
  background-color: #b6b600;
}
.marsh{
  background-color: #adad00;
}
.peach{
  background-color: #f1a744;
}
.mint{
  background-color: #47d87e;
}
.sea-foam{
  background-color: #47c8a1;
}
.double-mint{
  background-color: #43cd78;
}
.lawn{
  background-color: #3cb86b;
  color: white;
}
.crystal{
  background-color: #e2f0ff;
}
.baby{
  background-color: #90ddf3;
}
.pool{
  background-color: #64cfee;
}
.hazy{
  background-color: #5ac1ef;
}
.blue-eyes{
  background-color: #27b8ed;
  color: white;
}
.clear-sea{
  background-color: #21bae7;
  color: white;
}
.ocean{
  background-color: #1fb1db;
  color: white;
}
.blue-raspberry{
  background-color: #3b7796;
  color: white;
}
.midnight{
  background-color: #082f3a;
  color: white;
}
.blue{
  background-color: #000bac;
  color: white;
}
.vydia-yellow{
  background-color: #fcee45;
}
.vydia-light-blue{
  background-color: #42c3dd;
}
.vydia-blue{
  background-color: #41beed;
}
.vydia-dark-blue{
  background-color: #3a6fb6;
  color: white;
}
.vydia-red{
  background-color: #eb3736;
  color: white;
}
.vydia-dark-red{
  background-color: #6c0d34;
  color: white;
}
.vydia-dark-pink{
  background-color: #c33993;
  color: white;
}
.vydia-pink{
  background-color: #e04697;
  color: white;
}
