
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="headline">About Vydia</h2>
    </div>
    <div id="tagline"></div>
    <div class="col-lg-12">
      <h2>Tagline</h2>
      <blockquote>
        <p>Monetize, Distribute, Promote</p>
      </blockquote>
    </div>
    <div id="slogan"></div>
    <div class="col-lg-12">
      <h2>Slogan</h2>
      <blockquote>
        <p>We help artists of all levels monetize and distribute their visual content in one easy to use platform.</p>
      </blockquote>
    </div>
    <div id="mission"></div>
    <div class="col-lg-12">
      <h2>Mission</h2>
      <blockquote>
        <p>Vydia's mission is to transform the way we distribute and analyze video content.</p>
      </blockquote>
    </div>
    <div id="artist-problem"></div>
    <div class="col-lg-12">
      <h2>Artist Problem</h2>
      <blockquote>
        <p>Musicians lack infrastructure to efficiently monetize and promote their visual content.</p>
        <p>The videos artists create and the places to publish them are rapidly increasing.</p>
        <p>The current solutions are fragmented and incomplete.</p>
      </blockquote>
    </div>
    <div id="artist-solution"></div>
    <div class="col-lg-12">
      <h2>Artist Solution</h2>
      <blockquote>
        <p>Vydia helps artists of all levels create, monetize, distribute, and promote their visual content on one easy to use platform.</p>
      </blockquote>
    </div>
    <div id="publisher-problem"></div>
    <div class="col-lg-12">
      <h2>Publisher Problem</h2>
      <blockquote>
        <p>Publishers are left to make guesses when choosing what third party video content they’ll support. They’ll either be lucky or wrong.</p>
      </blockquote>
    </div>
    <div id="publisher-solution"></div>
    <div class="col-lg-12">
      <h2>Publisher Solution</h2>
      <blockquote>
        <p>With Vydia you’ll not only be able to search for content and see what creators have sent to you, but you’ll also be recommended content through our discovery algorithm. The more content you use through our intelligent embed codes, the better we’ll get at knowing what works and what doesn’t.</p>
      </blockquote>
    </div>
    <div id="elevator-pitch"></div>
    <div class="col-lg-12">
      <h2>Elevator Pitch</h2>
      <blockquote>
        <p>Content creators lack the infrastructure and education needed to make informed decisions on how, where and why to monetize and promote their content. The current solutions are fragmented and often redundant. Vydia helps artists of all levels create, monetize, distribute, and promote their visual content on one easy to use platform.<p>
        <br><br>
        <p>Ultimately it’s our mission to bring both creators and publishers together in a marketplace, but we understand a true marketplace platform cannot be achieved until it hits scale. To achieve scale our initial focus was to offer services in low competition, high value, and often overlooked segments of the market so we could quickly grow our creator user base.</p>
        <br><br>
        <p>While onboarding these artists, we’ve been collecting a tremendous amount of data. This data is incredibly valuable and as a first touch point for artists, we often get it before anyone else. We plan on using this information, that no one else has, to help our publisher partners make more informed decisions on the videos they support.</p>
        <br><br>
        <p>The current solutions for publishers are terrible when it comes to supporting third party video content. Publishers are left to make guesses which means they’re either lucky or wrong. They’re dying for a better solution for choosing their content and no one is offering them one.  With Vydia you’ll not only be able to search for content and see what creators have sent to you, but you’ll also be recommended content through our discovery algorithm.</p>
        <br><br>
        <p>Vydia will connect to our publisher’s on-site analytics and will recommend content based on aligning data. The more content you use through our intelligent embed codes, the better we’ll get at knowing what works and what doesn’t. These suggestions will not only be made to the publisher, but also the creator.</p>
        <br><br>
        <p>As this platform achieves scale we’ll create a network effect that will be able to form relationships between creators and publishers. This means if a video performed well for a similar publisher we could then determine, with relative certainty, the video will perform equally as well for you.</p>
        <br><br>
        <p>For the end user, you have curated feeds when you log in YouTube or Spotify, but we believe that customized experience should follow you everywhere and Vydia will power that experience.</p>
        <br><br>
        <p>Are you in?</p>
      </blockquote>
    </div>
  </div>
</div>
