<div id="homepage-color"></div>
<div class="container first-grid">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="headline">Vydia Homepage Color Palette</h2>
      <p>Click any color swatch to get a value from the Vydia homepage.</p>
    </div>
  </div>
</div>
<div class="container max-w">
  <div class="row">
    <div data-clipboard-text="#ffffff" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 white color">
      <p>White</p>
    </div>
    <div data-clipboard-text="#f5f5f5" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 whitesmoke color">
      <p>Whitesmoke</p>
    </div>
    <div data-clipboard-text="#eeeeee" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 smoke color">
       <p>Smoke</p>
    </div>
    <div data-clipboard-text="#ebebeb" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 cascade color">
       <p>Cascade White</p>
    </div>
    <div data-clipboard-text="#e6e6e6" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 gray-cloud color">
       <p>Gray Cloud</p>
    </div>
    <div data-clipboard-text="#e5e5e5" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 white-stone color">
       <p>White Stone</p>
    </div>
  </div>
  <div class="row">
    <div data-clipboard-text="#e0e0e0" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 gull-wing color">
      <p>Gull Wing</p>
    </div>
    <div data-clipboard-text="#cccccc" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 pewter color">
      <p>Pewter</p>
    </div>
    <div data-clipboard-text="#c4c4c4" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 cliffs color">
       <p>Cliffs</p>
    </div>
    <div data-clipboard-text="#999999" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 steel-wool color">
       <p>Steel Wool</p>
    </div>
    <div data-clipboard-text="#969696" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 whale color">
       <p>Whale Gray</p>
    </div>
    <div data-clipboard-text="#8c8c8c" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 overcoat color">
       <p>Overcoat</p>
    </div>
  </div>
  <div class="row">
    <div data-clipboard-text="#555555" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 stormy-sky color">
      <p>Stormy Sky</p>
    </div>
    <div data-clipboard-text="#191919" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 shadow color">
      <p>Shadow</p>
    </div>
    <div data-clipboard-text="#181818" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 dark-shadow color">
       <p>Dark Shadow</p>
    </div>
    <div data-clipboard-text="#000000" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 black color">
       <p>Black</p>
    </div>
    <div data-clipboard-text="#d313a8" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 red-violet color">
       <p>Red Violet</p>
    </div>
    <div data-clipboard-text="#BC1196" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 berry color">
       <p>Berry</p>
    </div>
  </div>
  <div class="row">
    <div data-clipboard-text="#6c0933" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 wine color">
      <p>Wine</p>
    </div>
    <div data-clipboard-text="#a9e8ff" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 allure color">
      <p>Allure</p>
    </div>
    <div data-clipboard-text="#69d7ff" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 breeze color">
       <p>Breeze</p>
    </div>
    <div data-clipboard-text="#3bbeee" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 sea color">
       <p>Sea</p>
    </div>
    <div data-clipboard-text="#35a6d0" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 sky color">
       <p>Sky</p>
    </div>
    <div data-clipboard-text="#33a2ca" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 brilliant color">
       <p>Brilliant</p>
    </div>
  </div>
  <div class="row">
    <div data-clipboard-text="#1788b1" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 royal color">
      <p>Royal</p>
    </div>
  </div>
</div>
