<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="headline">Our Fonts</h2>
      <div class="col-lg-12">
        <hr>
        <p><b>*NOTE* The font used in the logo is Futura. This is a commercial font and will not be given out here. You may request it internally.</b></p>
        <hr>
      </div>
      <div class="div col-lg-4 text-center">
        <h2>Montserrat</h2>
        <ul class="no-style">
          <li class="ms-400">Montserrat at 400 weight.</li>
          <li class="ms-700">Montserrat at 700 weight.</li>
        </ul>
        <a href="https://www.google.com/fonts/specimen/Montserrat" target="_blank" class="btn btn-default small">Google Fonts</a>
        <a href="download/montserrat.zip" class="btn btn-default small">Download</a>
      </div>
      <div class="div col-lg-4 text-center">
        <h2 class="source">Source Sans Pro</h2>
        <ul class="no-style">
          <li class="ssp-200">Source Sans Pro at 200 weight.</li>
          <li class="ssp-300">Source Sans Pro at 300 weight.</li>
          <li class="ssp-400">Source Sans Pro at 400 weight.</li>
          <li class="ssp-600">Source Sans Pro at 600 weight.</li>
          <li class="ssp-700">Source Sans Pro at 700 weight.</li>
        </ul>
        <a href="https://www.google.com/fonts/specimen/Source+Sans+Pro" target="_blank" class="btn btn-default small">Google Fonts</a>
        <a href="download/source-sans-pro.zip" class="btn btn-default small">Download</a>
      </div>
      <div class="div col-lg-4 text-center">
        <h2 class="raleway">Raleway</h2>
        <ul class="no-style">
          <li class="rw-100">Raleway at 100 weight.</li>
          <li class="rw-200">Raleway at 200 weight.</li>
          <li class="rw-300">Raleway at 300 weight.</li>
          <li class="rw-400">Raleway at 400 weight.</li>
        </ul>
        <a href="https://www.google.com/fonts/specimen/Raleway" target="_blank" class="btn btn-default small">Google Fonts</a>
        <a href="download/raleway.zip" class="btn btn-default small">Download</a>
      </div>
    </div>
  </div>
</div>
