<footer>
  <div class="sub-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-7 text-right">
          <span class="footer-socials">
            <a href="https://www.facebook.com/VydiaOfficial" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <a href="https://twitter.com/vydiaofficial" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <a href="https://www.linkedin.com/company/vydia-inc-?trk=top_nav_home" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <a href="https://plus.google.com/+Vydiaofficial/posts" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <a href="https://www.youtube.com/channel/UCBI-5L_Io409yTxq3Dh02Hw" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </span>
        </div> <!-- col -->
      </div> <!-- row -->
    </div> <!-- container -->
  </div>
</footer>

