<div class="image-heading" style="background-image:url(http://pullzone.vydiainc.netdna-cdn.com/wp-content/uploads/2014/03/banner-careers1.jpg); height: auto !important;">
  <span class="overlay"></span>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 style="margin-top: 0 !important;">Brand Guidelines</h2>
      </div>
    </div>
  </div>
</div>
