<div id="how-to"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="headline">How To Use This Site</h2>
      <p>These brand guidelines will aid you in designing all things Vydia. Below you will find our Use / Misuse instructions. These will help you in applying the supplied assets appropriately in your work. Beyond use and misuse, these brand guidelines have been made interactive. You can change the "Value Switcher" to HEX, #HEX, RGB, and RGBA. This will govern what values get copied to your computer's clipboard on click. With that being said -- click any color on the grid and it's value will automatically get copied to your clipboard. The same works for the icons section. Have a look around -- but please be sure to check that you are following proper use cases! Enjoy!</p>
    </div>
  </div>
</div>
<div id="misuse"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="headline">Use / Misuse</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h2>Logo</h2>
    </div>
    <div class="col-lg-6">
      <ul class="no-style">
        <li><b>You May:</b></li>
        <li>Use the Horizontal logo with black text as it is provided.</li>
        <li>Use the Vertical logo with black text as it is provided.</li>
        <li>Use the Horizontal logo with white text as it is provided.</li>
        <li>Use the Vertical logo with white text as it is provided.</li>
        <li>Use the Vertical logo with white text as it is provided.</li>
        <li>Use JUST the emblem from the logo.</li>
        <li>Use JUST the text from the logo.</li>
        <li>Change the text from the logo to either black or white.</li>
      </ul>
    </div>
    <div class="col-lg-6">
      <ul class="no-style">
        <li><b>You May NOT:</b></li>
        <li>Crop the logo.</li>
        <li>Skew the logo.</li>
        <li>Change the colors of the logo.</li>
        <li>Reverse/flip the logo.</li>
        <li>Rotate the logo.</li>
        <li>Render the logo greyscale.</li>
        <li>Present the text and emblem together in any other fashion.</li>
        <li>Alter or edit any portion of either beyond separation.</li>
      </ul>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
      <img class="full-w" src="images/misuse.jpg">
    </div>
    <div class="col-lg-12">
      <h2>Colors</h2>
    </div>
    <div class="col-lg-6">
      <ul class="no-style">
        <li><b>You May:</b></li>
        <li>Use any of the supplied colors in print.</li>
        <li>Use any of the supplied colors digitally.</li>
      </ul>
    </div>
    <div class="col-lg-6">
      <ul class="no-style">
        <li><b>You May NOT:</b></li>
        <li>Use your own color palette.</li>
      </ul>
    </div>
    <div class="col-lg-12">
      <h2>Fonts</h2>
    </div>
    <div class="col-lg-6">
      <ul class="no-style">
        <li><b>You May:</b></li>
        <li>Use any of the supplied fonts in print.</li>
        <li>Use any of the supplied fonts digitally.</li>
        <li>Use any of the supplied font-weights.</li>
        <li>Use font-sizing appropriately.</li>
      </ul>
    </div>
    <div class="col-lg-6">
      <ul class="no-style">
        <li><b>You May NOT:</b></li>
        <li>Use any other fonts outside of the provided downloads here.</li>
        <li>Use any other font-weight outside of the listed weights here.</li>
      </ul>
    </div>
  </div>
</div>
