<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="headline">Approved Icons</h2>
      <p>Download and install the font from the button below. You can click to copy icons from this site or you can copy/paste them from this sheet <a href="http://fortawesome.github.io/Font-Awesome/cheatsheet/" target="_blank">here</a> into any Adobe product after you've installed the .ttf or .otf. Make sure your font is set as "FontAwesome (TT)".</p>
    </div>
  </div>
</div>
<div class="container text-center">
  <div class="row">
    <!-- Icons -->
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-user"></i>
      <% code("html") do %>
<i class="fa fa-user"></i>
      <% end %>
      <p>User</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-users"></i>
      <% code("html") do %>
<i class="fa fa-users"></i>
      <% end %>
      <p>Artist News</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-plus-circle"></i>
      <% code("html") do %>
<i class="fa fa-plus-circle"></i>
      <% end %>
      <p>New Releases</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-star"></i>
      <% code("html") do %>
<i class="fa fa-star"></i>
      <% end %>
      <p>Releases/Networks</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-files-o"></i>
      <% code("html") do %>
<i class="fa fa-files-o"></i>
      <% end %>
      <p>Files</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-bell"></i>
      <% code("html") do %>
<i class="fa fa-bell"></i>
      <% end %>
      <p>Notification</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-list-alt"></i>
      <% code("html") do %>
<i class="fa fa-list-alt"></i>
      <% end %>
      <p>Site News</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-arrow-right"></i>
      <% code("html") do %>
<i class="fa fa-arrow-right"></i>
      <% end %>
      <p>Get Started</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-question-circle"></i>
      <% code("html") do %>
<i class="fa fa-question-circle"></i>
      <% end %>
      <p>Help/Pending</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-usd"></i>
      <% code("html") do %>
<i class="fa fa-usd"></i>
      <% end %>
      <p>Monetize</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-random"></i>
      <% code("html") do %>
<i class="fa fa-random"></i>
      <% end %>
      <p>Distribute (icon)</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-check-square"></i>
      <% code("html") do %>
<i class="fa fa-check-square"></i>
      <% end %>
      <p>Selected</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-square-o"></i>
      <% code("html") do %>
<i class="fa fa-square-o"></i>
      <% end %>
      <p>Not Selected</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-envelope-o"></i>
      <% code("html") do %>
<i class="fa fa-envelope-o"></i>
      <% end %>
      <p>Contact/Email</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-cloud-upload"></i>
      <% code("html") do %>
<i class="fa fa-cloud-upload"></i>
      <% end %>
      <p>Upload</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-edit"></i>
      <% code("html") do %>
<i class="fa fa-edit"></i>
      <% end %>
      <p>Edit</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-search"></i>
      <% code("html") do %>
<i class="fa fa-search"></i>
      <% end %>
      <p>Search</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-info-circle"></i>
      <% code("html") do %>
<i class="fa fa-info-circle"></i>
      <% end %>
      <p>Details</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-trash-o"></i>
      <% code("html") do %>
<i class="fa fa-trash-o"></i>
      <% end %>
      <p>Trash</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-video-camera"></i>
      <% code("html") do %>
<i class="fa fa-video-camera"></i>
      <% end %>
      <p>Video File (1)</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-code"></i>
      <% code("html") do %>
<i class="fa fa-code"></i>
      <% end %>
      <p>Publish</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-globe"></i>
      <% code("html") do %>
<i class="fa fa-globe"></i>
      <% end %>
      <p>Distribute (action)</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-plus"></i>
      <% code("html") do %>
<i class="fa fa-plus"></i>
      <% end %>
      <p>Add File</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-dropbox"></i>
      <% code("html") do %>
<i class="fa fa-dropbox"></i>
      <% end %>
      <p>Dropbox</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-headphones"></i>
      <% code("html") do %>
<i class="fa fa-headphones"></i>
      <% end %>
      <p>Audio to Video</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-eye"></i>
      <% code("html") do %>
<i class="fa fa-eye"></i>
      <% end %>
      <p>View</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-shopping-cart"></i>
      <% code("html") do %>
<i class="fa fa-shopping-cart"></i>
      <% end %>
      <p>Pay</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-film"></i>
      <% code("html") do %>
<i class="fa fa-film"></i>
      <% end %>
      <p>Distribute (release)</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-file-text"></i>
      <% code("html") do %>
<i class="fa fa-file-text"></i>
      <% end %>
      <p>Invoices</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-credit-card"></i>
      <% code("html") do %>
<i class="fa fa-credit-card"></i>
      <% end %>
      <p>Payment Methods</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="Earnings Won't Copy" class="fa fa-line-chart"></i>
      <% code("html") do %>
<i class="fa fa-line-chart"></i>
      <% end %>
      <p>Earnings</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="Withdraw Won't Copy" class="fa fa-bank"></i>
      <% code("html") do %>
<i class="fa fa-bank"></i>
      <% end %>
      <p>Withdraw</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-lock"></i>
      <% code("html") do %>
<i class="fa fa-lock"></i>
      <% end %>
      <p>Change Password</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-envelope"></i>
      <% code("html") do %>
<i class="fa fa-envelope"></i>
      <% end %>
      <p>Change Email</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-code-fork"></i>
      <% code("html") do %>
<i class="fa fa-code-fork"></i>
      <% end %>
      <p>Merge Accounts</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-youtube-play"></i>
      <% code("html") do %>
<i class="fa fa-youtube-play"></i>
      <% end %>
      <p>YouTube</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-link"></i>
      <% code("html") do %>
<i class="fa fa-link"></i>
      <% end %>
      <p>Copy Link</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-facebook-square"></i>
      <% code("html") do %>
<i class="fa fa-facebook-square"></i>
      <% end %>
      <p>Facebook</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-twitter"></i>
      <% code("html") do %>
<i class="fa fa-twitter"></i>
      <% end %>
      <p>Twitter</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="Referrals Won't Copy" class="fa fa-share-alt"></i>
      <% code("html") do %>
<i class="fa fa-share-alt"></i>
      <% end %>
      <p>Referrals</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 icons">
      <i data-clipboard-text="" class="fa fa-level-up"></i>
      <% code("html") do %>
<i class="fa fa-level-up"></i>
      <% end %>
      <p>Upgrade</p>
    </div>
    <!-- End Icons -->
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
        <a class="btn btn-default" href="download/font-awesome-4.3.0.zip">DOWNLOAD FONT AWESOME</a>
    </div>
  </div>
</div>
