<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="headline">Navigation</h2>
      <p>This tree will help you get to the section you need information from faster than scrolling. Click around!</p>
      <div class="col-lg-3 navtree">
        <ul class="no-style">
          <li><h2>The Logo</h2></li>
          <li><hr></li>
          <li><a href="#" data-attr-scroll="the-logo" class="scrollto">The Logo Section</a></li>
        </ul>
        <ul class="no-style">
          <li>Quick Links</li>
          <li><a href="download/VYDIA_LOGO_BLACK_2015_Horizontal.jpg">-- Horizontal Logo .JPG</a></li>
          <li><a href="download/VYDIA_LOGO_BLACK_2015_Horizontal.png">-- Horizontal Logo .PNG</a></li>
          <li><a href="download/VYDIA_LOGO_BLACK_2015_Horizontal.eps">-- Horizontal Logo .EPS</a></li>
          <li><a href="download/VYDIA_LOGO_BLACK_2015_Horizontal.ai">-- Horizontal Logo .AI</a></li>
          <li><a href="download/VYDIA_LOGO_BLACK_2015_Vertical.jpg">-- Vertical Logo .JPG</a></li>
          <li><a href="download/VYDIA_LOGO_BLACK_2015_Vertical.png">-- Vertical Logo .PNG</a></li>
          <li><a href="download/VYDIA_LOGO_BLACK_2015_Vertical.eps">-- Vertical Logo .EPS</a></li>
          <li><a href="download/VYDIA_LOGO_BLACK_2015_Vertical.ai">-- Vertical Logo .AI</a></li>
        </ul>
      </div>
      <div class="col-lg-3 navtree">
        <ul class="no-style">
          <li><h2>Fonts</h2></li>
          <li><hr></li>
          <li><a href="#" data-attr-scroll="fonts" class="scrollto">Font Section</a></li>
        </ul>
        <ul class="no-style">
          <li>Quick Links</li>
          <li><a href="download/montserrat.zip">-- Download Montserrat</a></li>
          <li><a href="download/source-sans-pro.zip">-- Download Source Sans Pro</a></li>
          <li><a href="download/raleway.zip">-- Download Raleway</a></li>
        </ul>
      </div>
      <div class="col-lg-3 navtree">
        <ul class="no-style">
          <li><h2>Colors</h2></li>
          <li><hr></li>
          <li><a href="#" data-attr-scroll="value-switcher" class="scrollto">Value Switcher</a></li>
          <li><a href="#" data-attr-scroll="logo-color" class="scrollto">Logo Color Palette</a></li>
          <li><a href="#" data-attr-scroll="homepage-color" class="scrollto">Homepage Color Palette</a></li>
          <li><a href="#" data-attr-scroll="dashboard-color" class="scrollto">Dashboard Color Palette</a></li>
        </ul>
        <ul class="no-style">
          <li>Quick Links</li>
          <li><a href="download/Vydia-Color-Swatches.aco">-- Download PS Swatches</a></li>
          <li><a href="download/Vydia-Color-Swatches.ase">-- Download AI / INDD Swatches</a></li>
        </ul>
      </div>
      <div class="col-lg-3 navtree">
        <ul class="no-style">
          <li><h2>Logos/Icons</h2></li>
          <li><hr></li>
          <li><a href="#" data-attr-scroll="partners" class="scrollto">Partner Logos</a></li>
          <li><a href="#" data-attr-scroll="notable-clients" class="scrollto">Notable Client Logos</a></li>
          <li><a href="#" data-attr-scroll="icons" class="scrollto">Dashboard Icons</a></li>
        </ul>
        <ul class="no-style">
          <li>Quick Links</li>
          <li><a href="download/partner-logos.zip">-- Download All Partner Logos</a></li>
          <li><a href="download/client-logos.zip">-- Download All Notable Client Logos</a></li>
          <li><a href="download/font-awesome-4.3.0.zip">-- Download FontAwesome</a></li>
        </ul>
      </div>
      <div class="col-lg-3 navtree">
        <ul class="no-style">
          <li><h2>Help</h2></li>
          <li><hr></li>
          <li><a href="#" data-attr-scroll="misuse" class="scrollto">Use / Misuse</a></li>
          <li><a href="#" data-attr-scroll="how-to" class="scrollto">How to use this site</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
