<div id="notable-clients"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="headline">Notable Client Logos</h2>
      <p>Click 'Save Image As' on each of these or download the full zip below.</p>
    </div>
  </div>
</div>
<div class="container text-center">
  <div class="row">
    <!-- Clients -->
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos clients">
      <img class="full-w" src="images/andygrammer.png">
      <p>Andy Grammer</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos clients">
      <img class="full-w" src="images/angelsandairwaves.png">
      <p>Angels And Airwaves</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos clients">
      <img class="full-w" src="images/cocojones.png">
      <p>Coco Jones</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos clients">
      <img class="full-w" src="images/defleppard.png">
      <p>Def Leppard</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos clients">
      <img class="full-w" src="images/fettywap.png">
      <p>Fetty Wap</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos clients">
      <img class="full-w" src="images/jimmybuffett.png">
      <p>Jimmy Buffett</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos clients">
      <img class="full-w" src="images/keithurban.png">
      <p>Keith Urban</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos clients">
      <img class="full-w" src="images/marylambert.png">
      <p>Mary Lambert</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos clients">
      <img class="full-w" src="images/rebalogo.png">
      <p>Reba McEntire</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos clients">
      <img class="full-w" src="images/sagethegemini.png">
      <p>Sage The Gemini</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos clients">
      <img class="full-w" src="images/TI.png">
      <p>T.I.</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos clients">
      <img class="full-w" src="images/wethekings.png">
      <p>We The Kings</p>
    </div>
    <!-- End Clients -->
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
        <a class="btn btn-default" href="download/client-logos.zip">DOWNLOAD ALL LOGOS</a>
    </div>
  </div>
</div>
