<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="headline">Partner Logos</h2>
      <p>Click 'Save Image As' on each of these or download the full zip below.</p>
    </div>
  </div>
</div>
<div class="container text-center">
  <div class="row">
    <!-- Partners -->
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/aka.jpg">
      <p>AKA</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/aux.jpg">
      <p>aux</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/axstv.jpg">
      <p>axs.tv</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/bet.jpg">
      <p>BET</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/box.jpg">
      <p>BOX</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/bpmtv.jpg">
      <p>bpm tv</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/centric.jpg">
      <p>Centric</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/chartshow.jpg">
      <p>Chart Show</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/clubcom.jpg">
      <p>ClubCom</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/cmt.jpg">
      <p>CMT</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/cmtcanada.jpg">
      <p>CMT Canada</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/dailymotion.jpg">
      <p>DailyMotion</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/fuse.jpg">
      <p>fuse</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/gac.jpg">
      <p>Great American Country</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/havoc.jpg">
      <p>Havoc</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/hbolatino.jpg">
      <p>HBO Latino</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/headlandmedia.jpg">
      <p>Headland Media</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/logotv.jpg">
      <p>LOGO TV</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/mp.jpg">
      <p>Musique Plus</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/mtv.jpg">
      <p>MTV</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/mtvaustralia.jpg">
      <p>MTV Australia</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/mtvbase.jpg">
      <p>MTV Base</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/mtvcanada.jpg">
      <p>MTV Canada</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/mtvjams.jpg">
      <p>MTV Jams</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/mtvlatin.jpg">
      <p>MTV Latin</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/mtvuk.jpg">
      <p>MTV UK</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/much.jpg">
      <p>much</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/mun2.jpg">
      <p>mun2</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/musicchoice.jpg">
      <p>Music Choice</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/muzu.jpg">
      <p>Muzu</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/nashvillenetwork.jpg">
      <p>Nashville Network</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/nickelodeon.jpg">
      <p>Nickelodeon</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/nmc.jpg">
      <p>New Music Channel</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/promoonly.jpg">
      <p>Promo Only</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/revolt.jpg">
      <p>Revolt</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/rmg.jpg">
      <p>RMG</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/skyline.jpg">
      <p>Skyline</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/sub.jpg">
      <p>Sub</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/tempo.jpg">
      <p>Tempo</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/tres.jpg">
      <p>Tres</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/uplifting.jpg">
      <p>Uplifting</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/vevo.jpg">
      <p>vevo</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/vh1.jpg">
      <p>VH1</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/vidzone.jpg">
      <p>Vidzone</p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 logos">
      <img class="full-w" src="images/youtube.jpg">
      <p>YouTube</p>
    </div>
    <!-- End Partners -->
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
        <a class="btn btn-default" href="download/partner-logos.zip">DOWNLOAD ALL LOGOS</a>
    </div>
  </div>
</div>
