<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="headline">Sass Variables for All Colors (HEX)</h2>
      <p>You may copy paste this SASS variable list for any web projects using a SASS/SCSS pre-processor.</p>
    </div>
    <div class="col-lg-12">
      <% code("sass") do %>
        $white: #ffffff;
        $whitesmoke: #f5f5f5;
        $smoke: #eeeeee;
        $cascade: #ebebeb;
        $gray-cloud: #e6e6e6;
        $white-stone: #e5e5e5;
        $gull-wing: #e0e0e0;
        $pewter: #cccccc;
        $cliffs: #c4c4c4;
        $steel-wool: #999999;
        $whale: #969696;
        $overcoat: #8c8c8c;
        $stormy-sky: #555555;
        $shadow: #191919;
        $dark-shadow: #181818;
        $black: #000000;
        $red-violet: #d313a8;
        $berry: #BC1196;
        $wine: #6c0933;
        $allure: #a9e8ff;
        $breeze: #69d7ff;
        $sea: #3bbeee;
        $sky: #35a6d0;
        $brilliant: #33a2ca;
        $royal: #1788b1;
        $mellow: #fbe8f6;
        $elephant: #fcdede;
        $easter: #eb8ad2;
        $hot-pink: #f11fe1;
        $crushed: #d714a4;
        $raspberry: #cf1aa7;
        $flush: #cc139c;
        $purple: #6c0a52;
        $blush: #ff2f65;
        $rose: #f22d60;
        $pale-rose: #d92d58;
        $bright-red: #ee0000;
        $red: #d70206;
        $dark-red: #cd201f;
        $canvas: #fcf6dc;
        $sandstone: #fffbac;
        $khaki: #eeebac;
        $wet-sand: #e9d991;
        $beach: #e9d991;
        $shopping-bag: #baae74;
        $yellow: #ffec01;
        $mustard: #f2e001;
        $hot-mustard: #e6d401;
        $algae: #b6b600;
        $marsh: #adad00;
        $peach: #f1a744;
        $mint: #47d87e;
        $sea-foam: #47c8a1;
        $double-mint: #43cd78;
        $lawn: #3cb86b;
        $crystal: #e2f0ff;
        $baby: #90ddf3;
        $pool: #64cfee;
        $hazy: #5ac1ef;
        $blue-eyes: #27b8ed;
        $clear-sea: #21bae7;
        $ocean: #1fb1db;
        $blue-raspberry: #3b7796;
        $midnight: #082f3a;
        $blue: #000bac;
        $vydia-yellow: #fcee45;
        $vydia-light-blue: #42c3dd;
        $vydia-blue: #41beed;
        $vydia-dark-blue: #3a6fb6;
        $vydia-red: #eb3736;
        $vydia-dark-red: #6c0d34;
        $vydia-dark-pink: #c33993;
        $vydia-pink: #e04697;
      <% end %>
    </div>
  </div>
</div>

