<div id="dashboard-color"></div>
<div class="container second-grid">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="headline">Vydia Dashboard Color Palette (Without Shades of Gray / White)</h2>
      <p>Click any color swatch to get a value from the Vydia dashboard.</p>
    </div>
  </div>
</div>
<div class="container max-w">
  <div class="row">
    <div data-clipboard-text="#fbe8f6" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 mellow color">
      <p>Mellow Pink</p>
    </div>
    <div data-clipboard-text="#fcdede" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 elephant color">
      <p>Elephant Pink</p>
    </div>
    <div data-clipboard-text="#eb8ad2" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 easter color">
       <p>Easter Pink</p>
    </div>
    <div data-clipboard-text="#f11fe1" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 hot-pink color">
       <p>Hot Pink</p>
    </div>
    <div data-clipboard-text="#d714a4" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 crushed color">
       <p>Crushed Berry</p>
    </div>
    <div data-clipboard-text="#cf1aa7" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 raspberry color">
       <p>Raspberry</p>
    </div>
  </div>
  <div class="row">
    <div data-clipboard-text="#cc139c" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 flush color">
      <p>Royal Flush</p>
    </div>
    <div data-clipboard-text="#6c0a52" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 purple color">
      <p>Purple</p>
    </div>
    <div data-clipboard-text="#ff2f65" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 blush color">
       <p>Blush</p>
    </div>
    <div data-clipboard-text="#f22d60" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 rose color">
       <p>Rose Petal</p>
    </div>
    <div data-clipboard-text="#d92d58" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 pale-rose color">
       <p>Pale Rose</p>
    </div>
    <div data-clipboard-text="#ee0000" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 bright-red color">
       <p>Bright Red</p>
    </div>
  </div>
  <div class="row">
    <div data-clipboard-text="#d70206" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 red color">
      <p>Red</p>
    </div>
    <div data-clipboard-text="#cd201f" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 dark-red color">
      <p>Dark Red</p>
    </div>
    <div data-clipboard-text="#fcf6dc" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 canvas color">
       <p>Canvas</p>
    </div>
    <div data-clipboard-text="#eeebac" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 khaki color">
       <p>Khaki</p>
    </div>
    <div data-clipboard-text="#e9d991" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 wet-sand color">
       <p>Wet Sand</p>
    </div>
    <div data-clipboard-text="#baae74" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 shopping-bag color">
       <p>Shopping Bag</p>
    </div>
  </div>
  <div class="row">
    <div data-clipboard-text="#ffec01" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 yellow color">
      <p>Yellow</p>
    </div>
    <div data-clipboard-text="#f2e001" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 mustard color">
       <p>Mustard</p>
    </div>
    <div data-clipboard-text="#e6d401" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 hot-mustard color">
       <p>Hot Mustard</p>
    </div>
    <div data-clipboard-text="#b6b600" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 algae color">
       <p>Algae</p>
    </div>
    <div data-clipboard-text="#adad00" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 marsh color">
       <p>Marsh</p>
    </div>
    <div data-clipboard-text="#f1a744" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 peach color">
       <p>Peach</p>
    </div>
  </div>
  <div class="row">
    <div data-clipboard-text="#47d87e" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 mint color">
      <p>Mint</p>
    </div>
    <div data-clipboard-text="#43cd78" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 double-mint color">
       <p>Double Mint</p>
    </div>
    <div data-clipboard-text="#3cb86b" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 lawn color">
       <p>Lawn</p>
    </div>
    <div data-clipboard-text="#47c8a1" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 sea-foam color">
       <p>Sea Foam</p>
    </div>
    <div data-clipboard-text="#e2f0ff" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 crystal color">
       <p>Crystal</p>
    </div>
    <div data-clipboard-text="#90ddf3" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 baby color">
       <p>Baby Blue</p>
    </div>
  </div>
  <div class="row">
    <div data-clipboard-text="#64cfee" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 pool color">
      <p>Swimming Pool</p>
    </div>
    <div data-clipboard-text="#5ac1ef" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 hazy color">
       <p>Hazy Blue</p>
    </div>
    <div data-clipboard-text="#27b8ed" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 blue-eyes color">
       <p>Blue Eyes</p>
    </div>
    <div data-clipboard-text="#21bae7" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 clear-sea color">
       <p>Clear Sea</p>
    </div>
    <div data-clipboard-text="#1fb1db" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 ocean color">
       <p>Ocean</p>
    </div>
    <div data-clipboard-text="#3b7796" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 blue-raspberry color">
       <p>Blue Raspberry</p>
    </div>
  </div>
  <div class="row">
    <div data-clipboard-text="#082f3a" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 midnight color">
      <p>Midnight</p>
    </div>
    <div data-clipboard-text="#5ac1ef" class="col-lg-2 col-md-4 col-sm-4 col-xs-6 blue color">
       <p>Blue</p>
    </div>
  </div>
</div>
