<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>Adobe Color Swatch Downloads</h1>
    </div>
    <div class="col-lg-2 col-lg-offset-4 text-center">
      <p>Photoshop</p>
      <a href="/download/Vydia-Color-Swatches.aco">
        <%= image_tag 'swatches.jpg' %>
      </a>
    </div>
    <div class="col-lg-2 text-center">
      <p>Illustrator / InDesign</p>
      <a href="/download/Vydia-Color-Swatches.ase">
        <%= image_tag 'ase.jpg' %>
      </a>
    </div>
  </div>
</div>
