<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="headline">Adobe Color Swatch Downloads</h2>
      <p>You may download the .aso for use with Photoshop and you may also download the .ase file to import into Illustrator or InDesign.</p>
      <br>
    </div>
    <div class="col-lg-2 col-lg-offset-4 col-xs-6 text-center">
      <p>Photoshop</p>
      <a href="/download/Vydia-Color-Swatches.aco">
        <%= image_tag 'swatches.jpg', :class => 'swatch' %>
      </a>
    </div>
    <div class="col-lg-2 col-xs-6 text-center">
      <p>Illustrator / InDesign</p>
      <a href="/download/Vydia-Color-Swatches.ase">
        <%= image_tag 'ase.jpg', :class => 'swatch' %>
      </a>
    </div>
  </div>
</div>
