---
title: Welcome to Middleman
---
<div id="copied-alert">
  <div class="copy-text text-center">
    <h1>COPIED!</h1>
  </div>
</div>


<div class="container max-w first-grid">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>Vydia Homepage Color Palette</h1>
      <hr>
    </div>
  </div>
  <div class="row">
    <div data-clipboard-text="#ffffff" class="col-lg-2 white color">
      <p>White</p>
    </div>
    <div data-clipboard-text="#f5f5f5" class="col-lg-2 whitesmoke color">
      <p>Whitesmoke</p>
    </div>
    <div data-clipboard-text="#eeeeee" class="col-lg-2 smoke color">
       <p>Smoke</p>
    </div>
    <div data-clipboard-text="#ebebeb" class="col-lg-2 cascade color">
       <p>Cascade White</p>
    </div>
    <div data-clipboard-text="#e6e6e6" class="col-lg-2 gray-cloud color">
       <p>Gray Cloud</p>
    </div>
    <div data-clipboard-text="#e5e5e5" class="col-lg-2 white-stone color">
       <p>White Stone</p>
    </div>
  </div>
  <div class="row">
    <div data-clipboard-text="#e0e0e0" class="col-lg-2 gull-wing color">
      <p>Gull Wing</p>
    </div>
    <div data-clipboard-text="#cccccc" class="col-lg-2 pewter color">
      <p>Pewter</p>
    </div>
    <div data-clipboard-text="#c4c4c4" class="col-lg-2 cliffs color">
       <p>Cliffs</p>
    </div>
    <div data-clipboard-text="#999999" class="col-lg-2 steel-wool color">
       <p>Steel Wool</p>
    </div>
    <div data-clipboard-text="#969696" class="col-lg-2 whale color">
       <p>Whale Gray</p>
    </div>
    <div data-clipboard-text="#8c8c8c" class="col-lg-2 overcoat color">
       <p>Overcoat</p>
    </div>
  </div>
  <div class="row">
    <div data-clipboard-text="#555555" class="col-lg-2 stormy-sky color">
      <p>Stormy Sky</p>
    </div>
    <div data-clipboard-text="#191919" class="col-lg-2 shadow color">
      <p>Shadow</p>
    </div>
    <div data-clipboard-text="#181818" class="col-lg-2 dark-shadow color">
       <p>Dark Shadow</p>
    </div>
    <div data-clipboard-text="#000000" class="col-lg-2 black color">
       <p>Black</p>
    </div>
    <div data-clipboard-text="#d313a8" class="col-lg-2 red-violet color">
       <p>Red Violet</p>
    </div>
    <div data-clipboard-text="#BC1196" class="col-lg-2 berry color">
       <p>Berry</p>
    </div>
  </div>
  <div class="row">
    <div data-clipboard-text="#6c0933" class="col-lg-2 wine color">
      <p>Wine</p>
    </div>
    <div data-clipboard-text="#a9e8ff" class="col-lg-2 allure color">
      <p>Allure</p>
    </div>
    <div data-clipboard-text="#69d7ff" class="col-lg-2 breeze color">
       <p>Breeze</p>
    </div>
    <div data-clipboard-text="#3bbeee" class="col-lg-2 sea color">
       <p>Sea</p>
    </div>
    <div data-clipboard-text="#35a6d0" class="col-lg-2 sky color">
       <p>Sky</p>
    </div>
    <div data-clipboard-text="#33a2ca" class="col-lg-2 brilliant color">
       <p>Brilliant</p>
    </div>
  </div>
  <div class="row">
    <div data-clipboard-text="#1788b1" class="col-lg-2 royal color">
      <p>Royal</p>
    </div>
  </div>
</div>











<br>



<div style="text-align: center; width: 200px;">
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #fffd;">#fffd<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #fffc;">#fffc<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #fffbac;">#fffbac<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #fffb;">#fffb<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #ffec01;">#ffec01<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #ff2f65;">#ff2f65<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #fcf6dc;">#fcf6dc<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #fcdede;">#fcdede<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #fbe8f6;">#fbe8f6<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #fafafa;">#fafafa<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #f6f6f6;">#f6f6f6<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #f4f4f4;">#f4f4f4<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #f2f2f2;">#f2f2f2<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #f2e001;">#f2e001<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #f22d60;">#f22d60<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #f1f1f1;">#f1f1f1<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #f1a744;">#f1a744<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #f11fe1;">#f11fe1<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #f0f0f0;">#f0f0f0<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #efefef;">#efefef<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #eeef;">#eeef<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #eeed;">#eeed<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #eeec;">#eeec<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #eeebac;">#eeebac<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #ee0000;">#ee0000<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #edfbf2;">#edfbf2<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #ededed;">#ededed<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #ececec;">#ececec<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #eb8ad2;">#eb8ad2<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #eaeaea;">#eaeaea<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #e9f8fd;">#e9f8fd<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #e9d991;">#e9d991<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #e7e7e7;">#e7e7e7<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #e6d401;">#e6d401<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #e4e4e4;">#e4e4e4<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #e2f0ff;">#e2f0ff<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #e2e2e2;">#e2e2e2<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #e0faf1;">#e0faf1<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #dfdfdf;">#dfdfdf<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #dddddd;">#dddddd<br /></div>
  <div style="line-height: 20px; padding: 10px; color: #333333; background: #dcdcdc;">#dcdcdc<br />gainsboro</div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #d92d58;">#d92d58<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #d714a4;">#d714a4<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #d70206;">#d70206<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #d5d5d5;">#d5d5d5<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #d2d2d2;">#d2d2d2<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #d1d1d1;">#d1d1d1<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #d0d0d0;">#d0d0d0<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #cfcfcf;">#cfcfcf<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #cfcfc5;">#cfcfc5<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #cf1aa7;">#cf1aa7<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #cd201f;">#cd201f<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #cccc;">#cccc<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #cc139c;">#cc139c<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #cbcbcb;">#cbcbcb<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #c8c8c8;">#c8c8c8<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #c5c5c5;">#c5c5c5<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #bfbfbf;">#bfbfbf<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #bbbbbb;">#bbbbbb<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #baae74;">#baae74<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #b8b8b8;">#b8b8b8<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #b6b600;">#b6b600<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #afafaf;">#afafaf<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #adad00;">#adad00<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #acacac;">#acacac<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #aaac;">#aaac<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #aaaaaa;">#aaaaaa<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #a8a8a8;">#a8a8a8<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #94dcf5;">#94dcf5<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #90ddf3;">#90ddf3<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #888888;">#888888<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #7a7a7a;">#7a7a7a<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #777777;">#777777<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #727272;">#727272<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #717782;">#717782<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #6c0a52;">#6c0a52<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #666d;">#666d<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #333333; background: #666c;">#666c<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #cccccc; background: #666666;">#666666<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #cccccc; background: #64cfee;">#64cfee<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #cccccc; background: #646464;">#646464<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #cccccc; background: #5c5c5c;">#5c5c5c<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #cccccc; background: #5ac1ef;">#5ac1ef<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #cccccc; background: #47d87e;">#47d87e<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #cccccc; background: #47c8a1;">#47c8a1<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #cccccc; background: #474747;">#474747<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #cccccc; background: #444444;">#444444<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #cccccc; background: #43cd78;">#43cd78<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #cccccc; background: #414a58;">#414a58<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #cccccc; background: #3f3f3f;">#3f3f3f<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #cccccc; background: #3cb86b;">#3cb86b<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #cccccc; background: #3b7796;">#3b7796<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #cccccc; background: #333c;">#333c<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #cccccc; background: #333333;">#333333<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #cccccc; background: #27b8ed;">#27b8ed<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #cccccc; background: #21bae7;">#21bae7<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #cccccc; background: #1fb1db;">#1fb1db<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #cccccc; background: #082f3a;">#082f3a<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #cccccc; background: #04ac;">#04ac<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #cccccc; background: #000f;">#000f<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #cccccc; background: #000c;">#000c<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #cccccc; background: #000bac;">#000bac<br /></div>
  <div style="line-height: 20px; padding: 20px; color: #cccccc; background: #000b;">#000b<br /></div>
</div>
