---
title: Vydia Brand Guidelines
---

<div id="copied-alert">
  <div class="copy-text text-center">
    <h1>COPIED!</h1>
  </div>
</div>

<div class="container switcher">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="headline">Value Switcher</h2>
      <label>Switch Between HEX, HEX with no Hash, RGB, and RGBA</label>
      <p>These options effect the value that you copy on click from the swatches</p>
      <div class="form-group">
        <select id="hex2rgb" class="form-control">
          <option value="hex"> Hex #123ABC </option>
          <option value="hexnohash"> Hex 123ABC </option>
          <option value="rgb"> RGB (123,123,123) </option>
          <option value="rgba"> RGBA (123,123,123,1)</option>
        </select>
      </div>
    </div>
  </div>
</div>


