---
title: Welcome to Middleman
---
<div id="copied-alert">
  <div class="copy-text text-center">
    <h1>COPIED!</h1>
  </div>
</div>

<div class="container max-w switcher">
  <div class="row">
    <div class="col-lg-12">
      <label>Switch Between HEX, HEX with no Hash, RGB, and RGBA</label>
      <div class="form-group">
        <select id="hex2rgb" class="form-control">
          <option value="hex"> Hex #123ABC </option>
          <option value="hexnohash"> Hex 123ABC </option>
          <option value="rgb"> RGB (123,123,123) </option>
          <option value="rgba"> RGBA (123,123,123,1)</option>
        </select>
      </div>
    </div>
  </div>
</div>

<%= partial "partials/logo-colors" %>
<%= partial "partials/first-grid" %>
<%= partial "partials/second-grid" %>
<%= partial "partials/sass-colors" %>


